[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/becodeorg/Moodle-Attendance-Plugin.git
	branch = MOODLE_402_STABLE
[submodule "local/github_student_pack"]
	path = local/github_student_pack
	url = https://github.com/becodeorg/moodle_github_student_pack.git
