[submodule "mod/attendance"]
	path = mod/attendance
	url = git@github.com-becodeorg-attendance:becodeorg/Moodle-Attendance-Plugin.git
	branch = MOODLE_402_STABLE
[submodule "local/github_student_pack"]
	path = local/github_student_pack
	url = git@github.com-becodeorg-studentpack:becodeorg/moodle_github_student_pack.git
[submodule "theme/becode"]
	path = theme/becode
	url = git@github.com-becodeorg-theme:becodeorg/moodle_boost_theme.git
	branch = main
[submodule "mod/punch_clock"]
	path = mod/punch_clock
	url = git@github.com-becodeorg-clock:basileLeroy/punch_clock.git
